.content-container {

}

.content-container .content {
  margin: 20px;
  background: white;
  padding: 10px;
  border: 1px solid #d8d8d8;
}
.content-container .archives .archive-item {
  width: 90%;
  margin: auto;
}
.content-container .archives .nav-link:hover{
  background: #eaeaea;
}
.content article {
  width: 90%;
  margin: auto;
}
.read-more{
  background: #8cc2fb;
  border-radius: 2em;
  padding: 6px;
  color: white;
}
.read-more:hover{
  text-decoration: none;
  color: white;
  background: #5398fb;
}
#title{
  color: black;
}
#title:hover{
  text-decoration: none;
  color: black;
}
.content-container footer {
  font-size: 1.25em;
}