<div class="content text-center mb-2"><span>Powered By Hexo | theme: <a href="y4ngyy.xyz">y4ngyy</a></span></div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<%- js('js/highlight.pack.js')%>
<%- js('js/nav.js') %>
<script>
    $(document).ready(function() {
        $('figure').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });
</script>